<h2><%= @task.title %></h2>
<p><%= @task.completed %></p>
<p><%= @task.details %></p>

<div>
  <%= link_to 'Edit', edit_task_path(@task) %>
</div>

<div>
<%= link_to "Delete",
  task_path(@task),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
</div>

<div>
  <%= link_to '<- Go back', tasks_path %>
</div>
